
@{
    ViewBag.Title = "ConsultaPacientes";
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}


<div style="margin-top:7%" class="container-fluid"></div>
<div class="container-fluid col-10">
    <h2 style="text-align:center">Consulta de Pacientes</h2>
    <div class="table-responsive-sm">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

<br />

@Html.Partial("/Views/Paciente/_DetallePaciente.cshtml")