@model IEnumerable<Entidades.ETL.PacienteETL>
@{
    ViewBag.Title = "ConsultaPacientes";
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}


<div style="margin-top:5%" class="container-fluid"></div>
<div class="container-fluid col-10">
    <h2 style="text-align:center">Consulta de Pacientes</h2>
    <div class="table-responsive-sm">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th scope="col">Identificacion</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Sº Apellido</th>
                    <th scope="col">Doctor</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td><input type="radio" value="Detalles..." class="btn btn-default" @*onclick="MostrarDatos(@item.Consecutivo);"*@></td>
                        <td>1111111</td>
                        <td>Otto</td>
                        <td>Otto</td>
                        <td>Otto</td>
                        <td>Otto</td>

                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>

<br />
@section scripts
{
    @Scripts.Render("/Assets/js/consultaPaciente.js")
}


@Html.Partial("/Views/Paciente/_DetallePaciente.cshtml")