@model IEnumerable<Entidades.ETL.ReporteCitasETL>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DataFromDataBase</title>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
    <div id="chartContainer"></div>

    <script type="text/javascript">
        var result = @Html.Raw(ViewBag.DataPoints);
        var dataPoints =[];
        for(var i = 0; i < result.length; i++){
            dataPoints.push({label:result[i].x, y:result[i].y});
        }

        window.onload = function() {
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light2",
                zoomEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Line Chart with Data-Points from DataBase"
                },
                data: [
                {
                    type: "line",

                    dataPoints: dataPoints,
                }
                ]
            });
            chart.render();
        });
    </script>
</body>
</html>		