@{
    ViewBag.Title = "Citas";
}




<div class="registro margen-interno">
    <br>
    <h5 style="text-align: center; color: black;"><u>CITAS REGISTRADAS</u></h5>
    <div class="row">
        <br>

        <table id="citas" class="table">
        </table>

    </div>
</div>