@{
    ViewBag.Title = "Contacto";
}

<div class="registro margen-interno">
    <br>
    <h1><u><b>INFORMACIÓN DE CONTACTO</b></u></h1>
    <form action="post" action="ingresoCita.php" name="formularioRegistro">
        <br>
        <p style="font-weight: normal; font-size: medium; text-align: center;">
            <u> Dirección</u>
            <br>
            De la bodega del Banco Nacional, 150mts sur. Edificio a mano izquierda Centro Médico San
            Antonio.
            Heredia Centro.
            <br>
            <br>
            <u> Número Telefónico</u>
            <br>
            2261-1345 / 6266-3572
        </p>
        <br>
        <br>
        <br>
        <p class="despedida"> <u> ¡GRACIAS POR PREFERIRNOS!</u></p>

        <p class="despedida" style="color: black; font-weight: normal; font-size: medium;">
            Para nosotros
            siempre será un gusto
            atenderle!
        </p>
        <br>
        <br>
    </form>
</div>