@{
    ViewBag.Title = "Nosotros";
}

<div class="registro margen-interno">
    <br>
    <h1><u><b>NUESTRA HISTORIA</b></u></h1>
    <form action="post" action="ingresoCita.php" name="formularioRegistro">
        La Clínica Médica del Pie que surge en el 2008 por la doctora Gabriela Salas. Esta clínica se
        encuentra ubicada en Heredia Centro y cuenta con fácil acceso de los distintos pacientes a lo
        largo de las distintas provincias de Costa Rica, ya que se encuentra en un punto bastante
        estratégico
        y céntrico. Cuenta con servicios profesionales y una atención al cliente muy agradable. Además,
        cuenta con una infraestructura adaptada a todas las necesidades de los pacientes que la visitan.
        <br>
        <br>
        La clínica ofrece distintos servicios relacionados con el tratamiento y cuido de los pies,
        específicamente aquellos tratamientos como:
        <br>
        <br>
        <ul style="margin-left: 5%;">
            <li>Tratamiento contra hongos.</li>
            <li>Callosidades.</li>
            <li>Curación de uñas encarnadas.</li>
            <li>Cuido del pie diabético y no diabético.</li>
            <li>Curación de úlceras.</li>
            <li>Medicina General.</li>
            <li>Cirugías Podológicas.</li>
            <li>Pedicura Médica.</li>
        </ul>
        <br>
        Actualmenta, la Clínica optó por incorporar un nuevo departamento de servicios relacionados con la
        parte estética.
        Esto con el fin de lograr brindar servicos más amplios y completos en temas de la salud. Este nuevo
        departamento
        cuenta con el nombre de Fisio-Estética MOSSA, en donde se brindan servicios tales como:
        <br>
        <br>
        <ul style="margin-left: 5%;">
            <li>Gimnasia Pasiva.</li>
            <li>Lifting de Pestañas.</li>
            <li>Micropigmentación.</li>
            <li>Microblanding.</li>
            <li>Masajes Descontracturantes.</li>
            <li>Desintoxicación Iónica.</li>
            <li>Mesoterapia.</li>
        </ul>
        <br>
        Gracias a la iniciativa de la doctora Gabriela, los niños, adultos y adultos mayores poseen una
        opción más para poder cuidar su salud, ya que hay muchas enfermedades y padecimientos que pueden
        ser prevenidos si se tiene el cuidado adecuado y la correcta higiene en los pies.
    </form>
</div>
