@{
    ViewBag.Title = "Promociones";
}

<h1><u> PROMOCIONES DE TEMPORADA</u></h1>
<section id="noticias" class="noticias margen-interno">
    <div class="articulos">
        <article class="article">
            <img src="imagenes/PROMO1.jpg" alt="">
            <p style="text-align: justify; margin-left: 2%; margin-right: 2%; margin-top: 1%;">
                GRAN
                PROMOCIÓN!!!
                20% de descuento en el Tratamiento Láser para Hongos en las Uñas.
                Promoción válida del 23 al 28 de Agosto.
                Estamos ubicados en el Centro Médico San Antonio, Heredia Centro.
                Contáctenos al: 2261-1342 / 6266-3572
                **El pago debe realizarse en efectivo**.
            </p>
        </article>
        <article class="article">
            <img src="imagenes/PROMO2.jpg" alt="">
            <p style="text-align: justify; margin-left: 2%; margin-right: 2%; margin-top: 1%;">
                GRAN
                PROMOCIÓN!!!
                30% de descuento en la Cirugía de Uña Encarnada.
                Promoción válida del 23 al 28 de Agosto.
                Estamos ubicados en el Centro Médico San Antonio, Heredia Centro.
                Contáctenos al: 2261-1342 / 6266-3572
                **El pago debe realizarse en efectivo**.
            </p>
        </article>
        <article class="article">
            <img src="imagenes/PROMO3.jpg" alt="">
            <p style="text-align: justify; margin-left: 2%; margin-right: 2%; margin-top: 1%;">
                ⚠️BLACK WEEK⚠️
                GRAN PROMOCIÓN!!!
                Obtenga un 20% de descuento en los servicios seleccionados.
                Promoción válida del 23 al 28 de Noviembre.
                Estamos ubicados en el Centro Médico San Antonio, Heredia Centro.
                Contáctenos al: 2261-1342 / 6266-3572
                **El pago debe realizarse en efectivo**.
            </p>
        </article>
    </div>
</section>
