@{
    ViewBag.Title = "Servicios";
}

<h1><u> NUESTROS SERVICIOS</u></h1>
<section id="noticias" class="noticias margen-interno">
    <div class="articulos">
        <article class="article">
            <img src="imagenes/maxresdefault.jpg" alt="" height="400">
            <h3></h3>
            <h2>Curación de Hongos</h2>
            <p style="text-align: justify; margin-left: 2%; margin-right: 2%; margin-top: 4%;">
                Las infecciones
                de hongos en las uñas pueden ser difíciles de tratar. Consulta con el médico si las estrategias
                de cuidado personal
                y los productos de venta libre (sin receta) no han ayudado. El tratamiento depende de la
                gravedad de la afección y del tipo de hongo
                que la causa. Es posible que pasen meses antes de que se vean resultados. Además, aún si la
                enfermedad de las uñas mejora,las
                infecciones recurrentes son frecuentes.
            </p>
        </article>
        <article class="article">
            <img src="imagenes/curacion_ulceras_pie_diabetico.jpg" alt="" height="400">
            <h3></h3>
            <h2>Curación de Úlceras</h2>
            <p style="text-align: justify; margin-left: 2%; margin-right: 2%; margin-top: 4%;">
                Si usted tiene
                diabetes, puede tener un mayor riesgo de desarrollar úlceras o llagas en los pies, también
                llamadas úlceras diabéticas.
                Las úlceras en los pies son una razón común de hospitalizaciones para personas con diabetes.
                Pueden tardar semanas o incluso varios
                meses en sanar. Las úlceras diabéticas a menudo son indoloras (debido a la disminución de
                sensibilidad en los pies).
            </p>
        </article>
        <article class="article">
            <img src="imagenes/uñero-1280x720.jpg" alt="" height="400">
            <h3></h3>
            <h2>Curación de Uñas Encarnadas</h2>
            <p style="text-align: justify; margin-left: 2%; margin-right: 2%; margin-top: 4%;">
                La uña levemente
                encarnada o enterrada puede ser tratada en casa, intentando levantar el borde de la uña,
                insertando un pedacito de algodón o gasa para que la uña no siga creciendo hacia adentro y salga
                de forma natural.
                Sin embargo, cuando el área alrededor de la uña está muy roja, hinchada y con pus puede indicar
                que existe una
                infección en la región, por lo que es importante que sea evaluado por un dermatólogo o podólogo,
                el cual podrá
                indicar la aplicación de una pomada antibiótica para aliviar los síntomas, en caso sea
                necesario.
            </p>
        </article>
        <article class="article">
            <img src="imagenes/cirugia-podologica-11.jpg" alt="" height="400">
            <h3></h3>
            <h2>Cirugías Podológicas</h2>
            <p style="text-align: justify; margin-left: 2%; margin-right: 2%; margin-top: 4%;">
                La cirugía
                podológica es la especialidad quirúrgica encargada del diagnóstico, tratamiento y corrección
                definitiva de
                aquellas malformaciones y enfermedades congénitas que aparecen en los pies. Este tipo de cirugía
                cuenta con un postoperatorio
                rápido, cómodo y muy satisfactorio, ya que ofrece a los pacientes la posibilidad de incorporarse
                a su actividad diaria en un
                periodo de tiempo muy reducido.
            </p>
        </article>
        <article class="article">
            <img src="imagenes/bigstock-doctor-dermatologist-examines-74599093_6_928x621.jpeg" height="400">
            <h3></h3>
            <h2>Pedicura Médica</h2>
            <p style="text-align: justify; margin-left: 2%; margin-right: 2%; margin-top: 4%;">
                Además de limpiar
                tus pies, un pedicure médico ayuda a detectar patologías como hongos, micosis, uñas encarnadas,
                pie de atleta,
                deformidades, fascitis plantar y callosidades debido a trastornos de la biomecánica del pie. Uno
                de los aspectos que las personas cuidan,
                además de las manos y la cabellera, es la presentación de los pies, por lo que no es de extrañar
                que acudan a los centros de belleza
                (semanal o quincenalmente) a darle “mantenimiento”.
            </p>
        </article>
        <article class="article">
            <img src="imagenes/unnamed.jpg" height="400">
            <h3></h3>
            <h2>Medicina General</h2>
            <p style="text-align: justify; margin-left: 2%; margin-right: 2%; margin-top: 4%;">
                La medicina
                general constituye el primer nivel de atención médica y es imprescindible para la prevención,
                detección, tratamiento y
                seguimiento de las enfermedades crónicas estabilizadas, responsabilizándose del paciente en su
                conjunto, para decidir su derivación
                a los especialistas cuando alguna patología se descompense.
            </p>
        </article>
        <br />

    </div>
</section>
