@*@{
    var db = Database.Open("ClinicaMedicaV1");
    var dbdata = db.Query("SELECT * FROM reporteCitas");
    var myChart = new Chart(width: 600, height: 400)
      .AddTitle("Product Sales")
      .AddSeries(chartType: "Pie",
         xValue: dbdata, xField: "Name",
         yValues: dbdata, yFields: "Price")
      .Write();
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>



    </div>
</body>
</html>
