@model Entidades.ETL.CitasETL

<div id="datosCita" class="container-fluid col-10">
    <form>

        <label style="color:black"><h3><b>Datos de la cita</b></h3></label>
        <div class="form-row">
            <div class="form-group col-md-2">
                
                <input type="hidden" class="form-control" id="Model_codigoCitas">
            </div>
            <div class="form-group col-md-2">
                <label for="" id="Model_horaInicio">Hora de inicio</label>
                <input type="text" class="form-control" id="Model_Hora" readonly>
            </div>
            
            
        </div>
    </form>
</div>

