@model IEnumerable<Entidades.ETL.ExpedienteETL>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}


@Html.Partial("DatosPaciente", new Entidades.ETL.PersonaETL())

@Html.Partial("CitasVista", new Entidades.ETL.CitasETL())

    
    <div class="container-fluid col-10">
        <label style="color:black"><h4><b>Datos para el Expediente</b></h4></label>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Padecimiento</label>
                <input type="text" class="form-control" id="Model_Padecimiento">
            </div>
            <div class="form-group col-md-6">
                <label>Tratamiento</label>
                <input type="text" class="form-control" id="Model_Tratamiento">
            </div>
            <div class="form-group col-md-6">
                <input type="hidden" class="form-control" id="Model_codigoCitaProgramadas">
            </div>
            <div class="form-group col-md-6">
                <input type="hidden" class="form-control" id="Model_codigoCitasFK">
            </div>
            <div class="form-group col-md-6">
                <input type="hidden" class="form-control" id="Model_codigoPacienteFK">
            </div>
            <div class="form-group col-md-6">
                <input type="hidden" class="form-control" id="Model_codigoDoctorFK">
            </div>
        </div>
        <div>
            <input type="submit" name="s_Tratamiento" value="Guardar cambios" onclick="ActualizarExpediente('Model_Padecimiento','Model_codigoCitaProgramadas','Model_Tratamiento');" />
        </div>

    </div>



@section scripts
{
    @Scripts.Render("/Assets/js/expedienteJS.js")
    @Scripts.Render("/Assets/js/consultaPaciente.js")
}
